---
// lib
import { formatDate } from '@lib/datetime';
// props
interface Props {
	title: string;
	url?: string;
	publishedOn: string;
	readingTime: string;
	tags: string[];
}

const { title, readingTime, publishedOn, tags, url } = Astro.props;
---

<article class="article">
	<p class="article__datetime">{formatDate(publishedOn)} - {readingTime}</p>
	<h3 class="article__title"><a href={url && url}>{title}</a></h3>
	<ul aria-label="article tags" class="article__tags">
		{tags.slice(0, 3).map((tag) => <li class:list={[`tag tag-${tag}`]}>{tag}</li>)}
	</ul>
</article>

<style lang="scss">
	@use 'src/styles/abstracts/mixins' as *;
	@use 'src/styles/abstracts/pallette' as *;
	@use 'src/styles/abstracts/variables' as *;
	.article {
		padding: $spacing-sm;
		background-color: var(--bg-secondary);
		&__datetime {
			font-size: var(--fs-sm);
		}
		&__title {
			a {
				text-decoration: none;
			}
		}
		&__tags {
			display: flex;
			gap: $spacing-sm;
			li {
				margin-left: 0;
				list-style-type: none;
			}
		}
	}
</style>
