---
import '@styles/code.scss';

import MainLayout from './MainLayout.astro';

import ChevronRightLine from '@lib/icons/line/ChevronRightLine.svelte';

// lib
import { formatToDate } from '@lib/datetime';

// props
import type { MarkdownLayoutProps } from 'astro';

interface Props extends MarkdownLayoutProps<ArticleFrontmatter> {}

const { frontmatter, url } = Astro.props;
const seoMetadata: SeoMetadata = {
	title: frontmatter.title,
	description: frontmatter.description
};

const schema = JSON.stringify({});
---

<MainLayout {...seoMetadata} schema={schema}>
	<main>
		<article itemscope itemtype="https://schema.org/Article" class="article">
			<header class="article__header">
				<ul aria-label="breadcrumbs" class="breadcrumbs">
					<li><a href="/">Home</a><ChevronRightLine /></li>
					<li><a href="/blog">Blog</a><ChevronRightLine /></li>
					<li><a href={url} aria-current="page">{frontmatter.title}</a></li>
				</ul>
				<h1 itemprop="name headline" class="title">{frontmatter.title}</h1>
				<p class="published-on">
					Published on
					<time itemprop="datePublished" datetime={frontmatter.publishedOn}>
						{formatToDate(frontmatter.publishedOn)}
					</time>
				</p>
				<ul aria-label="article tags" class="tags">
					{
						frontmatter.tags
							.slice(0, 3)
							.map((tag) => <li class:list={[`tag tag-${tag}`]}>{tag}</li>)
					}
				</ul>
			</header>
			<section itemprop="articleBody">
				<slot />
			</section>
		</article>
	</main>
</MainLayout>

<style lang="scss">
	@use 'src/styles/abstracts/mixins' as *;
	@use 'src/styles/abstracts/pallette' as *;
	@use 'src/styles/abstracts/variables' as *;

	h1 {
		text-transform: uppercase;
	}
</style>
